@charset "UTF-8";

/* 전체 */
body{
	margin: 0;	
	padding: 0px;	
	list-style-type: none;
}

/* 로그인/회원가입버튼 */
.headLine{
	background-color: #008CCE;	
	text-align: right;
	height: 30px;
	padding-top: 5px;
	padding-right: 10px;
}

.headLine > a > input{
	border-radius: 50px;
	color: #008CCE;
	background-color: #ffffff;
	border:1px solid #ffffff;
}
.headLine > a > input:hover{
	background-color: #e7f9ff;
	border:1px solid #e7f9ff;
}

/* 로고 */
#title{
	text-align: center;
	background-color: #ffffff;
}

.title{
	font-size: 3em;
}

.title:link, .title:visited, .title:hover{
	text-decoration: none;
	color:black;
}

/* 네비게이션 바 */
nav{
	padding-left: 50px;
	height: 40px;
	background-color: #008CCE;
}
nav > ul{
	margin: 0 auto;
	list-style-type: none;
	text-align: center;
}
nav li{
	float:left;
	line-height: 40px;
	padding: 0 10px;
	list-style-type: none;
}

nav a:link, nav a:visited, nav a:hover{
	text-decoration: none;
	color: #ffffff;
}

/* 메인 */
.container{
	text-align: center;
}

main {
	margin-left:100px;
	margin-right:100px;
}

/* 하단 */
footer{
	margin-top:10px;
	background: #008CCE;
	text-align: center;
	line-height: 60px;
	color: #ffffff;
}
