<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.smhrd.dao.AfterReplyDAO">
	<insert id="aReplyInsert">
		insert into grad_review(grad_review_num, grad_num, grad_review_content, mem_id) 
		values(gradreview_no_seq.nextval, ${grad_num}, #{grad_review_content}, #{mem_id})
	</insert>
	
	<select id="aReplySelect" resultType="kr.or.smhrd.dto.AfterReplyDTO">
	 	select grad_review_num, grad_review_content, mem_id 
	 	from grad_review where grad_num = ${param1}
	 	order by grad_review_num desc
	</select>
	
	<update id="aReplyUpdate">
		update grad_review set grad_review_content = #{grad_review_content} where grad_review_num = ${grad_review_num}
	</update>
	
	<delete id="aReplyDelete">
		delete from grad_review where grad_review_num = ${param1}
	</delete>
</mapper>