<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="kr.or.smhrd.dao.DataDAO">
<!-- <select id="dataList" resultType="kr.or.smhrd.dto.DataDTO">		
		SELECT data_num, mem_id, data_title, data_hit, to_char(data_wdate,'MM-DD HH:MI') data_wdate FROM data_board 
</select> -->

	<select id="dataList" resultType="kr.or.smhrd.dto.DataDTO">		
		SELECT * FROM
		(SELECT * FROM 
		(SELECT data_num, mem_id, data_title, data_hit, to_char(data_wdate,'MM-DD HH:MI') data_wdate FROM data_board 
		<if test="searchWord != null">
			where ${searchKey} like '%${searchWord}%'
		</if>		
		ORDER BY data_num desc) 
		WHERE <![CDATA[rownum<=${nowPage*onePageRecord}]]> order by data_num asc) 
		WHERE <![CDATA[rownum<=${lastPageRecord}]]> order by data_num desc
	</select>

	<select id="totalRecord" resultType="int">
		select count(data_num) cnt from data_board
		<if test="searchWord != null">
			where ${searchKey} like '%${searchWord}%'
		</if>
	</select>
	
	<select id="getBoard" resultType="kr.or.smhrd.dto.DataDTO">
      	select data_num, mem_id, data_title, data_content, data_hit, data_wdate
      	from data_board
      	where data_num=${param1}
   </select>
   
	<update id="hitCount">
		update data_board set data_hit=data_hit+1 
		where data_num=${param1}
	</update>
	
	<delete id="dataDelete">
		delete from data_board where data_num=${param1}
	</delete>
	
	<!-- 첨부파일목록 지우기 -->
	<delete id="dataFileDelete">
		delete from data_file
		where no=${param1}
	</delete>
	<select id="getDataList" resultType="kr.or.smhrd.dto.DataDTO">
		<!-- 쿼리문 작성 -->
		select data_num, data_title, mem_id, data_hit,
      	to_char(data_wdate,'MM-DD HH:MI') data_wdate
      	from data order by no desc
	</select>
</mapper>