<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.smhrd.dao.RegisterDAO">
	<!-- 회원등록 -->
	<insert id="registerInsert">
		insert into member(mem_id, mem_password, mem_type, mem_age, mem_email, mem_name, mem_wdate, mem_ca)
		values (#{mem_id}, #{mem_password}, #{mem_type}, #{mem_age}, #{mem_email}, #{mem_name}, sysdate, #{mem_ca})
	</insert>	
	
	<!-- 아이디 중복 체크 -->
	<select id="idCheck" parameterType="String" resultType="int">
		SELECT COUNT(mem_id) FROM member WHERE mem_id= #{mem_id}
	</select>
	
	<!-- 로그인 -->
	<select id="loginOk" resultType="kr.or.smhrd.dto.RegisterDTO">
 		select mem_id, mem_type, mem_ca, mem_auth from member
		where mem_id = #{param1} and mem_password= #{param2}
	</select>
	
	<!-- 비밀번호 찾기 -->
 	<select id="passwordSearch" resultType="kr.or.smhrd.dto.RegisterDTO">
		select mem_id, mem_name, mem_email, mem_password
		from member where mem_id = #{mem_id} and mem_name=#{mem_name} and mem_email=#{mem_email}
	</select>
</mapper>